body{
	background-color: orange;
}

#left{
	max-width: 300px;
	position: absolute;
	margin-left: 110px;
	z-index: 1;
}

#right{
	max-width: 300px;
	margin-left: 500px;
	position: absolute;
	z-index: 1;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

#social_bar{
	position: fixed;
	background-color: white;
	z-index: 2;
	opacity: 0.5;
}